{% extends 'greetingapp/base.html' %}

{% block title %}Вiдвiдувачi{% endblock %}

{% block content %}
	<div class="card border-primary" style="margin: 25px auto; max-width: 45rem;">
		<div class="card-header">
			<strong>Список вiдвiдувачiв</strong>
		</div>

		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Ім'я</th>
						<th scope="col">Прiзвище</th>
					</tr>
				</thead>

				<tbody>
					{% for vstr in visitors %}
						<tr>
							<th scope="row">{{ vstr.id }}</th>
							<td>{{ vstr.name }}</td>
							<td>{{ vstr.surname }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}